<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- managed-by: bibi-portable-setup -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.bibi.herdr.default</string>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>ProgramArguments</key>
  <array>
    <string>@@BIN@@/herdr</string>
    <string>server</string>
    <string>--session</string>
    <string>default</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>@@HOME@@</string>
    <key>PATH</key>
    <string>@@BIN@@:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>@@LOG_DIR@@/herdr-default.log</string>
  <key>StandardErrorPath</key>
  <string>@@LOG_DIR@@/herdr-default.error.log</string>
  <key>ProcessType</key>
  <string>Interactive</string>
</dict>
</plist>
