configuration_repo={{ bibi_config_repo_url }}
configuration_ref={{ bibi_config_repo_ref }}
firstmate_repo={{ firstmate_repo_url }}
firstmate_ref={{ firstmate_ref }}
node_major={{ node_major }}
shared_toolchain_root={{ shared_toolchain_root }}
jdk_version={{ jdk_version }}
jdk_runtime_version={{ jdk_runtime_version }}
jdk_home={{ shared_toolchain_root }}/jdk-21
clojure_cli_version={{ clojure_cli_version }}
clojure_home={{ shared_toolchain_root }}/clojure
pi_version={{ pi_version }}
pi_package=@earendil-works/pi-coding-agent@{{ pi_version }}
wrangler_package={{ wrangler_package }}
doctl_version={{ doctl_version }}
doctl_install_path={{ doctl_install_path }}
doctl_install_owner={{ doctl_install_owner }}
doctl_install_group={{ doctl_install_group }}
doctl_install_mode={{ doctl_install_mode }}
pi_extensions_repo={{ pi_extensions_repo_url }}
pi_extensions_ref={{ pi_extensions_ref }}
pi_extensions_package_version={{ pi_extensions_package_version }}
pi_extensions_source={{ pi_extensions_repo_url }}@{{ pi_extensions_ref }}
pi_public_packages={{ pi_public_packages | join(' ') }}
cloudflare_skills_repo={{ cloudflare_skills_repo_url }}
cloudflare_skills_ref={{ cloudflare_skills_ref }}
cloudflare_skills_checkout={{ cloudflare_skills_checkout }}
cloudflare_skill_link_dir={{ cloudflare_skill_link_dir }}
cloudflare_skill_names={{ cloudflare_skill_names | join(' ') }}
firecrawl_cli_package={{ firecrawl_cli_package }}
no_mistakes_version={{ no_mistakes_version }}
axi_packages={{ axi_packages | join(' ') }}

